

/*
* {
	outline: 1px solid red !important;
}
*/

html {
	margin: 0;
	padding: 0;
}


body {
	background-color: #191f29;
	color: white;
	flex-direction: column;
	font-family: "gg sans Normal", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-position: inside;
	text-align: center;	
	margin: 0px;
	padding: 0px;
}
.brisket.back {
	background-image: url('recipes/stewed-brisket.jpg')
}
.stroganov.back {
	background-image: url('https://live.staticflickr.com/2144/1580394718_6aac53aa86_k.jpg')
}
.chocochip.back {
	background-image: url('recipes/cookieoutback.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%
}
ul {
	border: 5px;
	padding: 15px;
	border-radius: 25px;
	/*background-color: #020017;*/
	border: 8px;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
ol {
	border-radius: 25px;
	/*background-color: #020017;*/
	border: 5px;
	padding: 15px;
	border: 8px;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
li {
	background-color: #16151f;
	padding: 2px;
	border: 4px;
	margin: 8px;
	border-radius: 15px;
}

.start {
	display: flex;
	justify-content: center;
	flex: 1;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;;
	min-width: 0;
	align-items: center;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}


.title-image {
	justify-content: center;
	gap: 25px;
	flex: 1;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;;
	min-width: 0;
	max-width: 100%;	
	align-items: center;
	flex-wrap: wrap;
}

.img {
	border-radius: 25px;
	min-width: 300px;
	display: flex;
	max-width: 100%;
	height: auto;
	margin: 15px;
	overflow: hidden;
	flex: 0;

}

.img img {
	min-width: 0;
	max-width: 500px;
	flex: 1;
}

.card {
	/*background-color: #020017;*/
	border-radius: 15px;
	font-family: "Queensides", sans-serif;
	flex: 0;
	font-size: 25px;
	margin: 20px;
	padding: 23px;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);	

}
